.welcome-bg {
  background-image: url("https://wallpapercave.com/wp/wp2035807.jpg");
  background-size: cover;
  background-position: right;
}
.welcome-bg h1 {
  color: black;
  text-shadow: 3px 3px 5px dimgrey, 3px 3px 10px dimgrey;
}
